* {
  margin: 0;
  padding: 0;
}

h1 {
  background-color: rgba(0, 0, 0, 0.483);
  opacity: initial;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium';
  font-size: 3.6rem;
  text-transform: uppercase;
  color: #950000;
  opacity: inherit;
  }

  h2 {
    color: red;
    padding-top: 3em;
    padding-bottom: auto;
  }

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  color: #ffffff;
  overflow-x: hidden;
  background-image: url(../Images/characters.jpg), url(../Images/front.jpg);
  background-repeat: no-repeat, repeat;
  background-position: center
  background-image: linear-gradient(red, yellow)
  }

a {
  transition: all 0.2s;
}

.houses {
  color: white;
  background-color: rgba(0, 0, 0, 0.314);
  font-size: 1.1rem;
  margin-top: 70px;
  max-width: 420px;
}

.Characters {
  color: white;
  background-color: rgba(0, 0, 0, 0.314);
  font-size: 1.1rem;
  padding: 10px;
}
#getQuote {
  color: red;
  background-color: black;
  opacity: initial;
}

.tm-main-container {
  position: relative;
  height: 100%;
}

.tm-top-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
}

.tm-navbar-menu {
  display: block;
  color: black;
  background: rgb(255, 255, 255);
  opacity: 50%;
  padding: 10px 20px;
  margin-bottom: 18px;
  width: 95px;
  margin-right: 0;
  margin-left: auto;
  text-align: center;
}

#locked {
visibility: hidden;
}

.tm-navbar-menu:hover {
  color: #950000;
  text-decoration: none;
}

.tm-nav {
  margin: 30px;
  color: black;
}

.tm-nav-link:link,
.tm-nav-link:visited {
  color: black;
  background-color: rgb(247, 247, 247);
  padding: 10px 40px;
  display: block;
  margin-bottom: 6px;
  text-align: center;
}

.quotes {
  background: rgba(0, 0, 0, 0.7);
  color:  white;
  margin-top: 70px;
  max-width: 575px;
  font-size: 3rem;
  padding: 10px;
  font-family: monospace;
}

.tm-site-subtitle {
  color: #cdffd0;
  font-size: 1.4rem;
  font-weight: 300;
}


.quotes {
  padding: 45px;
  font-size: 1.1rem;
  color: #c5c7c6;
  line-height: 1.8;
}


